<h1>CS 41344 - Natural Language Processing</h1>
<h2 style = 'color:yellow'>Assignment - 1: Regular Expressions</h2>

<h3 style = 'color:lightgreen'>0. Import Libraries</h3>

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('../0. Data/worldfloras.csv')
df.head()

       Country  Latitude    Area  Population   Flora  Endemism Continent
0          NaN       NaN     NaN         NaN     NaN       NaN       NaN
1  Afghanistan      30.0   636.0        14.3  3000.0     0.270      Asia
2          NaN       NaN     NaN         NaN     NaN       NaN       NaN
3      Albania      42.0    29.0         3.0  3200.0     0.008    Europe
4      Algeria      35.0  2382.0        21.3  3139.0     0.080  N.Africa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     161 non-null    object
 1   Latitude    161 non-null    float64
 2   Area        161 non-null    float64
 3   Population  161 non-null    float64
 4   Flora       161 non-null    float64
 5   Endemism    161 non-null    float64
 6   Continent   161 non-null    object
dtypes: float64(5), object(2)
memory usage: 9.0+ KB

In [4]:
df['Country'].notnull().value_counts()

Country
True     161
False      2
Name: count, dtype: int64

In [5]:
# Remove rows with Country = NaN
df = df[df['Country'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 1 to 162
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     161 non-null    object
 1   Latitude    161 non-null    float64
 2   Area        161 non-null    float64
 3   Population  161 non-null    float64
 4   Flora       161 non-null    float64
 5   Endemism    161 non-null    float64
 6   Continent   161 non-null    object
dtypes: float64(5), object(2)
memory usage: 10.1+ KB

<h3 style = 'color:lightgreen'>1. Homework Assignment</h3>

In [6]:
# Find all words that begin with the letter D or E.

boolean_mask = df['Country'].str.contains(r'^[D-E]\w+', regex=True)
print(df[boolean_mask]['Country'])

40               Denmark
41    Dominican Republic
42               Ecuador
43                 Egypt
44           El Salvador
45              Ethiopia
Name: Country, dtype: object

In [10]:
# Display country names that start with the word 'New'

boolean_mask = df['Country'].str.contains(r'^New\s\w+', regex=True)
print(df[boolean_mask]['Country'])

102    New Caledonia
103      New Zealand
Name: Country, dtype: object

In [11]:
# Display country names that have a character 'y' as the second character.
boolean_mask = df['Country'].str.contains(r'^.{1}y.*', regex=True)
print(df[boolean_mask]['Country'])

38     Cyprus
140     Syria
Name: Country, dtype: object

In [12]:
# Display country names that have the character 'y' as the 6th character.

boolean_mask = df['Country'].str.contains(r'^.{5}y.*', regex=True)
print(df[boolean_mask]['Country'])

107    Norway
126    Sicily
148    Turkey
Name: Country, dtype: object

In [13]:
# Display the country names that have a character 'c' as the fourth character.

boolean_mask = df['Country'].str.contains(r'^.{3}c.*', regex=True)
print(df[boolean_mask]['Country'])

39     Czechoslovakia
86      Liechtenstein
125        Seychelles
Name: Country, dtype: object